.top {
  border-bottom: solid 1px #414144;
  border-right: solid 1px #414144;
  color: #a1a1aa;
  padding: 8px 13px 8px 20px;
  display: flex;
  justify-content: space-between;
  height: 44px;
}
.fz10 {
  font-size: 10px;
  line-height: 11px;
}
.fz14 {
  font-size: 14px;
  line-height: 16px;
}
