.header {
  width: 100vw;
  height: 44px;
  background-color: #27272a;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #414144;
}
.iconNinePoints {
  margin: 0 24px;
}
.iconArrowBack {
  margin-right: 34px;
}
